*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

    /* DEBUG */
    header{
        min-height: 100px;
        border: 2px solid black;
    }

    .logo{
        width: 130px;
        padding-right: 10px;
    }
    
   
    .nav_right{
        display: flex;
        align-items: center;
        list-style-type: none;
        
    }

    .fa-solid{
        padding-top: 20px;
        padding-right: 5px;
    }


    










/* corpo centrale */

    .wrapper{
        display: flex;
        justify-content: start;

    }

    .aside{
        width: 200px;
        background-color: #0d253a;
        /* DEBUG */
        height: 100vh;

    }

    .grow{
        flex-grow: 1;
        
        /* DEBUG */
        height: 100vh;

    }

    .top{
        /*  DEBUG */
        min-height: 200px;
        background-color:#1b72e8;
    }



    @media screen and (max-width:900px){

        .aside{
            width: 100px;
        


    }
        
    