*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* debug */

 [class*="col-"]{
    border: 1px solid black;
    min-width: 100px;
   
}
 

/* header */

    /* DEBUG */
    header{
        min-height: 100px;
        border: 2px solid black;
    }

    .logo{
        width: 130px;
        padding-right: 10px;
    }

    .logo_md{
        display: none;
        width: 80px;
        padding-right: 10px;
    }
   
    
   
    .nav_right{
        display: flex;
        align-items: center;
        list-style-type: none;
        
    }

    .fa-solid{
        padding-top: 20px;
        padding-right: 15px;
    }

    .fa-bell{
        color: orangered;
   
    }



    










/* corpo centrale */

    .wrapper{
        display: flex;
        justify-content: start;

    }
    /* parte sinistra */
    .aside{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        background-color: #0d253a;
        /* DEBUG */
        height: 100vh;

    }

    #aside_list{
        color: white;
        list-style-type: none;
    }


    .aside_bottom{
        color: white;
        list-style-type: none;
    }
    /* parte destra */
    .grow{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        
        
        /* DEBUG */
        height: 100vh;

    }

  
    .top{
        /*  DEBUG */
        min-height: 150px;
        background-color:#1b72e8;
    }

     .bottom{
        display: flex;
    }

  
    .title-section{
        margin: 0;
        padding: 0;
        background-color: lightgray;
    }

    .fa-plus{
        background-color: ;
    }

 


















    @media screen and (max-width:991px){

        .aside{
            width: 80px;
        }
        
        .aside_item{
            display: none;
        }

        .logo_md{
            display: inline-block;
          
        }

        .logo{
            display: none;
        }

        .fa-bell{
            color: orangered;
            padding: 10px;
        }

    }