*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

    /* DEBUG */
    header{
        min-height: 100px;
        border: 2px solid black;
    }

    .logo{
        width: 130px;
        padding-right: 10px;
    }

    .logo_md{
        display: none;
        width: 80px;
        padding-right: 10px;
    }
   
    
   
    .nav_right{
        display: flex;
        align-items: center;
        list-style-type: none;
        
    }

    .fa-solid{
        padding-top: 20px;
        padding-right: 5px;
    }


    










/* corpo centrale */

    .wrapper{
        display: flex;
        justify-content: start;

    }

    .aside{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        background-color: #0d253a;
        /* DEBUG */
        height: 100vh;

    }

    #aside_list{
        color: white;
        list-style-type: none;
    }


    .aside_bottom{
        color: white;
        list-style-type: none;
    }

    .grow{
        flex-grow: 1;
        
        /* DEBUG */
        height: 100vh;

    }

    .top{
        /*  DEBUG */
        min-height: 200px;
        background-color:#1b72e8;
    }





















    @media screen and (max-width:900px){

        .aside{
            width: 80px;
        }
        
        .aside_item{
            display: none;
        }

        .logo_md{
            display: inline-block;
          
        }

        .logo{
            display: none;
        }

    }